.text-type {
  display: inline-block;
  white-space: pre-wrap;
  font-size: 4rem;
  font-weight: 700;
   color: transparent !important;
            background-image: url(r2.png);
            background-position: center left;
            background-repeat: no-repeat;
            background-size: cover;
            color: transparent;
            background-clip: text;
              text-transform: uppercase;
              animation: wave 6s linear  infinite alternate
}

       @keyframes wave {
              0% {
        background-position: left center;
      }
      100% {
        background-position: right bottom;

      }
        }
.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}